# Data
data/raw/
data/interim/
*.csv
*.parquet
*.feather

my_project_env/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# DVC
.dvc/
.dvcignore

# Virtual Environment
venv/
env/